.alert.alert-danger
  %p
    %b E-mail non corretta
  %p L'e-mail che hai inserito non appartiene a nessun account.
  %p Puoi accedere usando qualsiasi indirizzo e-mail, nome utente o numero di cellulare associato al tuo account. Assicurati di digitarlo correttamente.