.alert.alert-danger
  %p
    %b Please re-enter your password
  %p The password you entered is incorrect. Please try again (make sure your caps lock is off).
  %p
    Forgot your password?
    = link_to 'Request a new one.', '#'
