@import '../defines.css.scss';

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; 

  p {
    margin-bottom: 4px;
  }
}

.alert-danger {
  //color: #a94442;
  background-color: #f2dede;
  border-color: #e97472;

  b {
    color: #a94442;
  }
}

.has-dropdown {
  position: relative;

  .dropdown-menu {
    margin: 0;
    list-style-type: none;
    position: absolute;
    left: -1px;
    display: none;

    padding: 6px 0;
    background-color: white;
    border: 1px solid #d3d6db;
    border-radius: 0 0 3px 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

    &.right-dropdown {
      right: -1px;
      left: auto;
    }

    & > li {
      line-height: 23px;
      font-size: 11px;
      white-space: nowrap;

      &:hover {
        background-color: rgb(246, 247, 248);
      }

      &.separator {
        margin: 5px 7px 6px;
        padding-top: 1px;
        border-top: 1px solid transparent !important;
        border-bottom: 1px solid rgb(221, 221, 221) !important;

        &:hover {
          background: transparent !important;
          border-top: 1px solid transparent !important;
        }
      }
    }

    button, input {
      background: transparent;
      border: none;
      padding: 0 17px;
      text-align: left;
      width: 100%;
    }

    a {
      display: block;
      padding: 0 17px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
    z-index: 100;
  }
}

.button {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: $helveticaStack;
  font-weight: bold;

  &.has-dropdown .dropdown-menu {
    top: 100%;
  }
}

.button-group {
  border: 1px solid #ccc;
  border-radius: 3px;

  & > .button {
    margin-left: 0;
    margin-right: 0;

    border-radius: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: none;
    }
  }
}