.messages-container {
  background-color: white;
  border: 1px solid #e0e0e0;
  height: 100%;
  position: fixed;
  top: 43px;
  bottom: 0;
  width: 851px;
}

.messages-list {
  border: 1px solid #e0e0e0;
  height: 100%;
  width: 308px;
}