.container
  #profile-main
    = render 'profile_intro'

    #profile-content
      .clearfix
        .timeline-content
          .timeline-unit
            %header
            #new-post-wrap
              %textarea#new-post-textarea
        .timeline-sidebar
