@import "bootstrap";

body {
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

img {
	@extend .img-responsive;
	margin: 0 auto;
}

a:active {
  outline: none;
}

#site-header .container {
	max-width: 1010px;
	min-width: 1010px;
}

.navbar-default {
	background: transparent;
	border: none;
}