@import 'defines.css.scss';

.navbar-header {
	margin: 0;
	float: left;

	a, img {
		display: block;
	}
}

#site-header {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMVEU7WZg8WZg8Wpg8Wpk9Wpk9W5k+W5k+XJo/XJpAXZpAXZtBXptCX5xDYJxEYZ1FYZ1GYp5HY55IZJ9JZZ9JZaBKZqBLZqBLZ6FMZ6FMaKFNaKFNaKJNaaJOaaKGKTtqAAAAGUlEQVR42mORZWFg+Q+HDFhoZIzOw6SBEACoqB2pPL/a+AAAAABJRU5ErkJggg==);
	background-color: rgb(59, 89, 152);
	background-repeat: repeat-x;
	border-bottom: 1px solid #133783;
	padding-top: 13px;
	height: 83px;
	min-width: 981px;
	z-index: 100000;

	.navbar-brand {
		margin-top: 9px;
		padding: 0;

		img {
			max-height: 36px;
		}
	}

	.login-form {
		line-height: 14px;

		label {
			font-weight: normal;
			color: white;
			font-size: 11px;
			margin-bottom: 4px;
		}

		a {
			color: rgb(152, 169, 202);
			font-size: 11px;
			margin-top: 4px;
			display: inline-block;
		}
	}

	.login-field {
		width: 160px;
		margin-left: 14px;
	}

	.submit-field {
		margin: 6px 0 0 15px;
		width: 73px;
	}

	.checkbox {
		margin-top: 4px;

		label {
			color: rgb(152, 169, 202);
		}

		input {
			margin-top: 1px;
		}
	}

	input[type=text], input[type=password] {
		border-radius: 5px;
		width: 160px;
		padding: 6px 5px;
		font-size: 11px;
		border: 1px solid #ccc;
		margin-top: 7px;
		margin-bottom: 3px;
	}

	input[type=submit] {
		background-image: asset-url('button-back.png');
		background-color: #5b74a8;
		border: 1px solid;
		border-color: #29447e #29447e #1a356e;
		box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
		color: white;
		cursor: pointer;
		font-size: 11px;
		font-weight: bold;
		line-height: 19px;
		padding: 3px 6px 4px;
		text-align: center;
		width: 100%;
	}
}

#site-header.logged-in {
	height: 47px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #133783;
	box-shadow: rgba(black, 0.521569) 0px 2px 2px -2px;
	padding-top: 12px;

	.navbar-brand {
		margin-top: 0px;
		height: auto;
	}

	.search-box-faker {
		margin-left: 29px;
		height: 24px;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 0 7px;
		background: white;
		position: relative;
		overflow: hidden;

		input[type=text] {
			border: none;
			padding: 0;
			background: transparent;
			margin: 0;
			font-size: 13px;

			outline: none;
			width: 100%;
		}

		.search-box-submit {
			font-size: 14px;
			position: absolute;
			right: 8px;
			top: 1px;
			padding: 0;
			background: transparent;
			border: none;

			&:focus {
				outline: none;
			}
		}
	}
}

.header-padding {
	margin-bottom: 47px;
}

@media (max-width: 996px) {
	#site-header.logged-in {
		position: static;
		margin-bottom: 10px;
	}

	.header-padding {
		display: none;
	}
}

#header-arrow-menu {
	list-style-type: none;
	position: absolute;
	padding: 0;
	top: 34px;
	right: 0;
	background-color: white;
	display: none;
	border-radius: 4px;
	padding: 6px 0;
	width: 200px;

	.header-menu-arrow {
		position: absolute;
		top: -16px;
		right: -155px;
		font-size: 24px;

		i {
			color: white;
			font-size: 22px;
		}
	}

	li {
		float: none;
		display: block;

		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		width: 100%;
		font-size: 12px;
		cursor: pointer;
		padding: 0 22px;
		height: 22px;
		line-height: 22px;

		&.menuitem:hover {
			background: #6d84b4;
			border-bottom: 1px solid #3b5998;
			border-top: 1px solid #3b5998;
			color: #fff;
		}

		button {
			background: transparent;
			border: none;
			padding: 0;
			font-size: 12px;
			width: 100%;
			outline: none;
			text-align: left;
		}
	}

	border: 1px solid rgba(100, 100, 100, .4);
	box-shadow: 0 3px 8px rgba(black, .25);
}

.header-utilities {
	float: right;
	list-style-type: none;
	margin: 0 0 0 5px;
	padding: 0;
	line-height: 22px;

	li {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.header-hovering {
		display: block;
		text-shadow: 0 -1px rgba(black, .5);
		border-radius: 2px;
		height: 27px;
		line-height: 27px;
		padding: 0 9px;
		margin-top: -2px;

		&.header-profile-link {
			padding-left: 4px;

			img {
				width: 21px;
				height: 21px;
				display: block;
				float: left;
				margin: 3px 8px 0 0;
				border: 1px solid rgba(black, .2);
				border-radius: 3px;
			}
		}
	}

	.header-hovering:hover {
		background: rgba(black, .1);
	}

	.open-header-menu {
		padding: 0 10px;
	}

	li.open-click-menu.menu-open i {
		color: white;
	}

	a {
		font-family: $helveticaStack;
		color: white;
		font-weight: bold;
		font-size: 12px;

		&:hover {
			text-decoration: none;
		}
	}

	.header-menus {
		margin: 0 8px;

		i {
			padding: 0 4px;
			width: 31px;
			text-align: center;
			display: block;
			float: left;
		}
	}

	i {
		color: #2f477a;
		font-size: 20px;
		line-height: 27px;
		margin-top: -2px;

		&.octicon {
			font-size: 24px;
		}

		&:hover {
			color: #23355b;
		}
	}
}
